<div class="row">
   <div class="col-md-12">

      <input type="text" [(ngModel)]="filterText" class="form-control rounded-0 mb-3"
             placeholder="Marka Ara..." autocomplete="off" >

      <div class="list-group rounded-0">
         <div class="list-group-item fw-bold" style="background-color: #DDD">
            <i class="bi-card-list"></i>
         </div>
         <button routerLink="/brands" (click)="resetCurrentBrandId()" class="{{ listAllBrandCss }}"
                 style="background-color: #EEE">
            Tümünü Listele
         </button>

         <a *ngFor="let brand of brands | brandFilter: filterText" routerLink="/cars/{{ brand.id }}"
            [class]="getCurrentBrandClass(brand.id)" (click)="setCurrentBrand(brand.id)">
            {{ brand.name }}
         </a>
      </div>
   </div>
</div>